@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7f7;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.title {
  /* font-family: "EB Garamond", serif; */
  font-family: "Alegreya SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-info {
  font-family: "Dosis", serif;
  /* font-family: "Alegreya SC", serif; */
  font-optical-sizing: auto;
  font-style: normal;
}

.debug * {
  border: 1px solid blue;
}

.debug {
  border: 1px solid red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
